
@model ChildPro.Models.CourseViewModel

@{
    ViewBag.Title = "课程详情页";
    Layout = "~/Views/Shared/Layout01.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程详情页</title>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/程就未来CSS代码/课堂首页样式.css" rel="stylesheet" />
    <link href="~/Content/程就未来CSS代码/课程详情样式.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">

    <style>
        .panel {
            margin-bottom: 20px;
            background-color: #fff;
            border: 1px solid transparent;
            border-radius: 4px;
        }
        .panel-default {
            padding: 0 15px;
            border-color: #e4ecf3;
        }
        .panel-default > .panel-heading {
                position: relative;
                font-size: 16px;
                padding: 10px 0;
                line-height: 30px;
                background: #fff;
                border-bottom: 1px solid #f5f5f5;
            }
        .panel-title {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 16px;
        }
        .panel-default > .panel-body {
            position: relative;
            padding: 15px 0;
        }
        .media:first-child {
            margin-top: 0;
        }
        .media-body, .media-left, .media-right {
            display: table-cell;
            vertical-align: top;
            padding-right:15px;
        }
        .media-default .media-body > .title {
            margin-bottom: 10px;
        }
        .avatar-md {
            width: 60px !important;
            height: 60px !important;
            border-radius: 50%;
        }

        .link-dark {
            cursor: pointer;
            color: #616161 !important;
        }
        button{
            color: #fff;
            background: #4bbbfa;
            border-color: #4bbbfa;
            border-radius: 4px;
        }

    </style>
</head>
<body>
    <div class="es-wrap">
        <!--表头-->
        <header></header>
        <!--上半部分-->
        <div class="container cd-container">
            <ol class="breadcrumb breadcrumb-o">
                <li><a href="#">首页</a></li>
                <li><a href="#">@Model.coursetable.CourseType</a></li>
                <li class="active"><a href="@Url.Action("Datails","Course")">@Model.coursetable.CourseName</a></li>
            </ol>
            <div id="plp">
                @if (Model.isJ)
                {
                @Html.Action("JoinCourse", "Course")
                }
                else
                {
                <div class="es-section course-detail-section clearfix">
                    <div class="course-detail-bottom">
                        <!--图片-->
                        <div class="course-detail-img">
                            <!--<span>更新中</span>-->
                            <img class="img-responsive" src="../@Model.coursetable.ImageMineType">
                            <div class="img-overlay"></div>
                            <!--图片底部div-->
                            <div class="course-detail-remask">
                                <i class="es-icon es-icon-people"></i>
                                <span class="mhs">@Model.coursetable.Number</span>人加入学习

                                <div class="score pull-right mb0">
                                    <i class="es-icon es-icon-staroutline"></i>
                                    <i class="es-icon es-icon-staroutline"></i>
                                    <i class="es-icon es-icon-staroutline"></i>
                                    <i class="es-icon es-icon-staroutline"></i>
                                    <i class="es-icon es-icon-staroutline"></i>
                                    <span class="vertical-middle">(@ViewBag.num)</span>
                                </div>
                            </div>
                        </div>
                        <!--details-->
                        <div class="course-detail-info">
                            <div class="course-detail-info__text js-course-details-info">
                                <div class="course-detail-info__title">
                                    @Model.coursetable.CourseName
                                </div>
                                <p class="course-detail-info__subtitle text-overflow subtitle cd-text-sm cd-mb16" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" title="" data-original-title="Scratch编程过程中遇到的各种疑难杂症，给你做详细的解答。">
                                    <span>@Model.coursetable.CourseType</span>
                                </p>
                                <div class="cd-mb16">
                                    <span class="course-detail__label vertical-sub">课程价格</span>
                                    <span class="course-detail-price-money vertical-sub mrm"><b class="pirce-num color-success">免费</b></span>
                                </div>
                                <div class="course-detail-gray course-detail-gray--market  not-activity ">
                                    <div class="hidden-xs common-line-height">
                                        <span class="course-detail-title">学习有效期</span>
                                        <span class="gray-dark course-detail-expiry mrl">永久有效</span>
                                    </div>
                                    <div class="course-detail-service cd-mt16">
                                        <span class="course-detail-title">承诺服务</span>
                                        <span class="lump-sm color-lump bg-primary mr5 hidden-xs" data-container="body" data-trigger="hover" data-placement="top" data-toggle="tooltip" title="" data-content="提供专属的一对一在线答疑，快速答疑解惑。" data-original-title="一对一在线答疑">疑</span>
                                        <span class="lump-sm color-lump bg-primary mr5 hidden-xs" data-container="body" data-trigger="hover" data-placement="top" data-toggle="tooltip" title="" data-content="对于提问做到有问必答，帮您扫清学习过程中的种种障碍" data-original-title="提问必答">问</span>
                                        <span class="lump-sm color-lump bg-primary mr5 hidden-xs" data-container="body" data-trigger="hover" data-placement="top" data-toggle="tooltip" title="" data-content="24小时内批阅您提交的试卷，给予有针对性的点评" data-original-title="24小时阅卷点评">试</span>
                                        <span class="lump-sm color-lump bg-primary mr5 hidden-xs" data-container="body" data-trigger="hover" data-placement="top" data-toggle="tooltip" title="" data-content="24小时内完成作业批阅，即时反馈并巩固您的学习效果" data-original-title="24小时作业批阅">练</span>
                                    </div>
                                </div>
                            </div>
                            <div class="course-detail-info__btn js-course-header-operation">
                                @if (Model.isC)
                                {
                                <button id="aas" data-tag="2" icon="el-icon-star-on">已收藏</button>
                                }
                                else
                                {
                                <button id="aas" data-tag="1" icon="el-icon-star-on">收藏</button>
                                }
                                <button icon="el-icon-share">分享</button>

                                <div class="text-right buy-btn-group course-operation-btn ">
                                    <button id="join" class="cd-btn cd-btn-primary js-buy-btn ">加入学习</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                }
            </div>

        </div>

        <!--下半部分-->
        <div class="container cd-container">
            <div class="row cd-row">
                <!--下半部分左边课程的细节目录-->
                <div class="col-lg-9 col-md-8 course-details-content">
                    <section class="es-section">
                        <!--选项卡-->
                        <div class="nav-btn-tab">
                            <ul class="nav nav-tabs nav-tabs-course">
                                <li><a href="#">课程介绍</a></li>
                                <li><a href="#">课程目录</a></li>
                                <li><a href="#">笔记(0)</a></li>
                                <li><a href="#">评价(@ViewBag.num)</a></li>
                            </ul>
                        </div>
                        <div class="box">
                            <div class="box-isolation">
                                <!-- 课程介绍-->
                                <div class="es-piece">
                                    <div class="piece-header">课程介绍</div>
                                    <div class="piece-body p-lg clearfix">                                       
                                        <p style="text-align:center;"><img alt="" src="~/Image/Course/scratch/介绍1_.jpg"></p>
                                    </div>
                                </div>
                                <!--视频列表-->
                                <div class="panel panel-default hidden-xs">
                                    <div class="panel-heading ">
                                        <h3 class="panel-title">目录</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="course-detail-content js-course-detail-content">                                                                                                                              
                                                @foreach (var item in Model.courseclass)
                                                {
                                                    <ul class="task-list task-list-md task-list-hover infinite-container">
                                                        <li class="parent task-item bg-gray-lighter js-task-chapter infinite-item" id="row_01" display-if="true">
                                                            <i class="es-icon es-icon-menu left-menu"></i>
                                                            <i class="fa fa-navicon"></i>
                                                            <a href="javascript:" class="title gray-dark">章节<span>@item.Class_Num</span> @item.ClassName</a>
                                                            <i class="right-menu es-icon es-icon-remove js-remove-icon"></i>
                                                        </li>
                                                        @*//视频列表分部试图*@
                                                        <li class="child_row_01 task-item task-content mouse-control infinite-item color-gray bg-gray-lighter">
                                                            @Html.Action("GetVideoList", "Course")
                                                        </li>
                                                    </ul>
                                                }                                                        
                                             </div>
                                    </div>
                                </div>
                                <!--推荐课程-->
                                
                            </div>
                            <div class="hi">
                                <div class="panel-body">
                                    <div class="course-detail-content js-course-detail-content">
                                        @foreach (var item in Model.courseclass)
                                        {
                                            <ul class="task-list task-list-md task-list-hover infinite-container">
                                                <li class="parent task-item bg-gray-lighter js-task-chapter infinite-item" id="row_01" display-if="true">
                                                    <i class="es-icon es-icon-menu left-menu"></i>
                                                    <i class="fa fa-navicon"></i>
                                                    <a href="javascript:" class="title gray-dark">章节<span>@item.Class_Num</span> @item.ClassName</a>
                                                    <i class="right-menu es-icon es-icon-remove js-remove-icon"></i>
                                                </li>

                                                <li class="child_row_01 task-item task-content mouse-control infinite-item color-gray bg-gray-lighter">
                                                    @Html.Action("GetVideoList", "Course")
                                                </li>
                                            </ul>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="hi">
                                还没有笔记哦！
                            </div>
                            @*评价*@
                            <div class="hi">
                                <div class="textarea_box">
                                    <div class="textarea">
                                        <textarea id="pl_content" name="pingluntextarea" style="resize:none;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;height:68px;width:798px;display:block;border:1px solid #c03f3c;"></textarea>
                                    </div>
                                </div>
                                <div class="btnpl">
                                    <input id="btn" type="button" value="发表评论" class="btnpl2" style="border:none;height:25px;width:70px;background-color:#c03f3c;color:white;" />
                                </div>                                
                                <div class="comment-show" id="comment-show">
                                    @Html.Action("CommentSummery", "Course", new { courseid = Model.coursetable.CourseID })
                                </div>                           
                            </div>
                        </div>
                        <div>推荐课程</div>
                        <br />
                        <div class="course-list">
                            <div class="row">
                                @foreach (var item in Model.GetNewCourse)
                                {
                                    <div class="col-lg-3 col-md-4 col-xs-6">
                                        <div class="course-item">
                                            <div class="course-img">
                                                <a href="@Url.Action("Datails","Course",new {id = item.CourseID, teacherid = item.TeacherId})" target="_blank"> 
                                                    <img src="~/Image/Course/scratch/04.jpg" alt="计算机如何工作？Code.org出品" class="img-responsive">
                                                </a>
                                            </div>
                                            <div class="course-info">
                                                <div class="title">
                                                    <a class="link-dark" href="@Url.Action("Datails","Course",new {id = item.CourseID, teacherid = item.TeacherId})" target="_blank">
                                                        @item.CourseName
                                                    </a>
                                                </div>
                                                <div class="metas clearfix">
                                                    <span class="num"><i class="fa fa-address-book-o" style="font-size:16px"></i>@item.Number</span>
                                                    <span class="comment"><i class="fa fa-commenting" style="font-size:16px"></i>0</span>
                                                    <span class="comment"><i class="fa fa-youtube-play" style="font-size:16px"></i>试看</span>
                                                    <span class="course-price-widget"><span class="free">免费</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </section>


                </div>

                <!--下半部分右边-->
                @foreach (var item in Model.teachers)
                {
                    <div class="col-lg-3 col-md-4 course-sidebar">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">授课教师</h3>
                            </div>
                            <div class="panel-body">
                                <div class="media media-default">
                                    <div class="media-left">
                                        <a class="js-user-card" href="@Url.Action("Index1","Teacher",new { teacherid = item.TeacherID})" title="">
                                            <img class="avatar-md" src="@item.ImageHead">
                                            
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <div class="title">
                                            <a class="link-dark link-dark" href="@Url.Action("Index1","Teacher",new { teacherid = item.TeacherID})">@item.TeacherName</a>
                                        </div>
                                        <div class="teacher-intro">编程教育布道公益组织</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <script>
    /*-----------网页选项卡---------------*/
    $(function(){
        var $div_li =$("div.nav-btn-tab ul li");
        $div_li.click(function(){
            $(this).addClass("selected")            //当前<li>元素高亮
                .siblings().removeClass("selected");//去掉其它同辈<li>元素的高亮
            var index = $div_li.index(this);
            $("div.box > div")
                .eq(index).show()
                .siblings().hide();
        }).hover(function () {
            $(this).addClass("hover");
        },function () {
            $(this).removeClass("hover");
        })
    });

    /*-----------表格展开关闭---------------*/
    $(function () {
        //获取父行元素
        //添加删除高亮
        //隐藏显示子行
        $("li.parent").click(function () {
            $(this).siblings(".child_"+this.id).toggle();//类名+id的目的：在于控制兄弟节点中不同和相同的行为
        });
    })

    function formata(){
        let date = new Date(),
            year = date.getFullYear(),
            month = date.getMonth() + 1,
            day = date.getDate(),
            h = date.getHours(),
            m = date.getMinutes(),
            s = date.getSeconds();
        m = m < 10 ? '0' + m : m;
        s = s < 10 ? '0' + s : s;
        let now = `${year}-${month}-${day} ${h}:${m}:${s}`;
        return now;
    };

    /*---------加入课程------------*/
    $('.course-operation-btn').on('click','#join',function(){
        let course_id = @Model.coursetable.CourseID,
            j = document.getElementById("join"),
            plp = $('#plp');
         
        let obj ={
            id :course_id,
            join :true
        };
        $.ajax({
            url:'/Course/JoinCourse',
            type:'post',
            contentType:'application/json;charset=utf-8',
            data:JSON.stringify(obj),
            success:function(res){
                j.innerHTML = "开始学习";  
                plp.html(res);           
            },
            error:function(err){
                console.log(err);
            }
        })
    })

    /*---------收藏课程------------*/
    $('.course-detail-info__btn').on('click','#aas',function(){
        let course_id = @Model.coursetable.CourseID,
            ass = document.getElementById("aas");
        let tag = parseInt($('#aas').attr('data-tag'),10)
        let obj ={
            tag :tag,
            id : course_id,
        };
        if(tag == 1){
            //加入收藏
            $.ajax({
                url:'/Course/CollectCourse',
                type:'post',
                contentType:'application/json;charset=utf-8',
                data:JSON.stringify(obj),
                success:function(res){
                    ass.innerHTML = "已收藏";
                    $('#aas').attr('data-tag',2);
                },
                error:function(err){
                    console.log(err);
                }
            })
        }
        else{
            $.ajax({
                url:'/Course/CollectCourse',
                type:'post',
                contentType:'application/json;charset=utf-8',
                data:JSON.stringify({
                    tag :2,
                    id : course_id,
                }),
                success:function(res){
                    ass.innerHTML = "收藏"
                    $('#aas').attr('data-tag',1);

                },
                error:function(err){
                    console.log(err);
                }
            })
        }
    })

    $('.hi').on('click', '#btn', function () {
        let content = $('#pl_content').val(),
            course_id = @Model.coursetable.CourseID,
            date = formata(),
            com_type = 1;
        let c = $('#comment-show');
        let obj = {
            type:com_type,
            courseid:course_id,
            content:content,
            date:date
        };
        if(!!content){
            $.ajax({
                url:'/Course/CommentSummery',
                type:'post',
                contentType: 'application/json;charset=utf-8',
                data:JSON.stringify(obj),
                success:function(res){
                    $('#comment-show').html(res);
                    console.log("o");
                },
                error:function(err){
                    console.log();
                }
            })
        }
    })
    </script>
</body>
</html>

